<div class="modal-header">
  <h2>Welcome to the Knowledge Center, {{ user.first_name }}!</h2>
</div>
<div class="modal-body">
  <div id="setup-content">
      <p>You have successfully logged into the Knowledge Center. You will stay logged into the
          website until you click the logout button</p>


      <div id="setup-welcome-info">
          <p style="margin: 5px 0">
              According to our records, your name
              is <b>{{ user.first_name }} {{ user.last_name }}</b> <br/>If this is not correct, please <a class="btn btn-widget contact-link" href="mailto:{{ CHALLENGE.contact_email }}">email the admins</a>.
          </p>
      </div>
  </div>
</div><!--end modal body-->
<div class="modal-footer">
  <div style="text-align: center">
      <a id="next" class="btn btn-primary">Next: Almost Done &nbsp;
           <img src="{{ STATIC_URL}}images/right.png" width="24" align="top">
      </a> 
      <div id="progressbar-header">
          <p></p>
      </div>
  </div>
      <div id="progressbar" class="progress">
        <div class="bar"
          style="width: 0%;">
        </div>
    </div>
</div>
<script type='text/javascript'>
    jQuery(document).ready(function ($) {
        fixForms();
        var s = 1.0/2.0*100 + "%";
        $(".bar").width(s);

        $("#next").button().unbind('click').click(function () {
            $(this).button("option", "disabled", true);
            $.get("{% url setup_complete %}", function (data) {
                $("#ui-dialog-title-setup-dialog").html(data.title);
                $("#setup-dialog").html(data.contents);
            });
        });

        $("#next").button("option", "disabled", false);
    });
</script>
